.header{
    overflow: hidden;
    background-color:#E27C0B;
    font-size: 1.5em;
     font-weight: bolder;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}
  .outlet{
      padding-top: 20px;
  }